
  <h1>Páginas de prueba para automatizar</h1>
  <div class="explanation">
    <p>
      Este es un conjunto de páginas para automatizar o probar. Algunos de los
      ejemplos son adecuados para pruebas exploratorias manuales o hacking de
      JavaScript.
    </p>
  </div>
  <h2>Ejemplos</h2>
  <div class="explanation">
    <p>
      Este conjunto de páginas están estilizadas y tienen explicación/ayuda en
      la página. Pueden servir de apoyo para las pruebas exploratorias, el
      aprendizaje de HTML, el aprendizaje de las pruebas web técnicas y la
      piratería informática de JavaScript.
    </p>
  </div>
  <p>Estas páginas son simples páginas de ejemplos y ejercicios.</p>
  <div>
    <ul>
      <li>
        <a
          routerLink="/basic-web-page"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Ejemplo de página web básica</a
        >
      </li>
      <li><a   routerLink="/element-attributes"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">Ejemplos de atributos de elementos</a></li>
      <li>
        <a  routerLink="/locators"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">Localizadores - Página de prueba Find By Playground</a>
      </li>
      <li>
        Ejemplos de etiquetas HTML
        <ul>
          <li>Página de prueba de tablas</li>
          <li><a href="">Tabla dinámica Página de prueba</a></li>
        </ul>
      </li>
    </ul>
  </div>

